@model Vehicles.API.Models.VehicleViewModel

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="~/css/DetailEditStyle.css" />

<div class="row_1">
    <div class="col-md-12" >
        <form asp-action="EditVehicle" id="formulario" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />

            
            <h2>Editar Vehiculo</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger errorinicio"></div>


            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group2">
                        <div class="form-group">
                            <label asp-for="VehicleTypeId" class="control-label"></label>
                        </div>
                        <div class="form-group">
                            <select style="background-color:transparent !important" asp-for="VehicleTypeId" asp-items="Model.VehicleTypes" class="form-control"></select>
                        </div>
                        <div>
                            <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group2">
                        <div class="form-group">
                            <label asp-for="BrandId" class="control-label"></label>
                        </div>
                        <div class="form-group">
                            <select style="background-color:transparent !important" asp-for="BrandId" asp-items="Model.Brands" class="form-control"></select>

                        </div>
                        <div>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group2">
                        <div class="form-group">
                            <label asp-for="Model" class="control-label"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Model" class="form-control" id="inp1" />

                        </div>
                        <div>
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                    </div>



                </div>

                <div class="col-md-6 ">
                    <div class="form-group2">
                        <div class="form-group">
                            <label asp-for="Line" class="control-label"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Line" class="form-control" id="inp2" />

                        </div>
                        <div>
                            <span asp-validation-for="Line" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group2">
                        <div class="form-group">
                            <label asp-for="Color" class="control-label"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Color" class="form-control" id="inp3" />

                        </div>
                        <div>
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group2">
                        <div class="form-group">
                            <label asp-for="Plaque" class="control-label"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Plaque" class="form-control" id="inp4">

                        </div>
                        <div>
                            <span asp-validation-for="Plaque" class="text-danger"></span>
                        </div>
                    </div>



                </div>
                <div class="col-md-12">


                    <div class="form-group2">

                        <div class="form-group">
                            <label asp-for="Remarks" class="control-label"></label>
                        </div>
                        <div class="form-group">
                            <textarea asp-for="Remarks" class="form-control" id="inp5"></textarea>

                        </div>
                        <div>
                            <span asp-validation-for="Remarks" class="text-danger"></span>

                        </div>
                    </div>



                    <div class="form-group">
                        <button type="submit" value="" class="btn btn-success"><span>Guardar</span><span><i class="fas fa-download"></i></span> </button>
                       
                        <a asp-action="Details" asp-route-id="@Model.UserId" class="btn btn-secondary"><span>Regresar</span><span><i class="fas fa-undo"></i></span></a>




                    </div>
                    <br />
                    <br />
                </div>
            </div>



        </form>
    </div>
</div>
<br />
<br />
<br />


<br />
<br />
<br />
<br />
<br />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Users/DeleteImageVehicle/', false);
        });
    </script>
}