@model Vehicles.API.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Register";
}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="~/css/UserStyle.css" />




<div class="row_1 tam">
    <div class="col-md-12">
        <form method="post">

            <h2>Cambiar Contraseña</h2>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">

                <div class="col-md-12 ">
                    <div class="form-group2">
                        <div class="form-group">
                            <label asp-for="OldPassword"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="OldPassword" type="password" class="form-control" />
                        </div>
                        <div>
                            <span asp-validation-for="OldPassword" class="text-warning"></span>
                        </div>

                    </div>

                    <div class="form-group2">
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>

                        </div>
                        <div class="form-group">
                            <input asp-for="NewPassword" type="password" class="form-control" />

                        </div>
                        <div>
                            <span asp-validation-for="NewPassword" class="text-warning"></span>
                        </div>

                    </div>

                    <div class="form-group2">
                        <div class="form-group">

                            <label asp-for="Confirm"></label>

                        </div>
                        <div class="form-group">

                            <input asp-for="Confirm" type="password" class="form-control" />

                        </div>
                        <div>
                            <span asp-validation-for="Confirm" class="text-warning"></span>
                        </div>

                    </div>


                </div>

            </div>


            <div class="form-group">
                <button type="submit" value="" class="btn btn-success"><span>Guardar</span><span><i class="fas fa-download"></i></span> </button>
                <a asp-action="ChangeUser" class="btn btn-secondary"><span>Regresar</span><span><i class="fas fa-undo"></i></span></a>

            </div>




        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}