@{
    ViewData["Title"] = "Confirmación de Email";
}
<link rel="stylesheet" href="~/css/confirmemailstyle.css" />


<div class="contenedor2">
    <h2 class="centrado">@ViewData["Title"]</h2>
</div>

<br />

<div class="contenedor3">
    <div>
        <p><strong>Gracias por confirmar su cuenta. Ya puedes ingresar al sistema.</strong></p>
        <br />
        <p>Si no has asignado una contraseña, tu contraseña actual es: 123456.</p>
        <p>recuerde cambiarla por una más segura y de fácil recordación para usted.</p>
    </div>
    
</div>