@{
    ViewData["Title"] = "NotAuthorized";
}
<link rel="stylesheet" href="~/css/NotAuthorizedStylecss.css" />

<br />
<div class="image">
    <img src="~/images/notfound.png" />
</div>

<h2>¡No estas autorizado para ejecutar esta acción!</h2>
<br />
<br />
