@model Vehicles.API.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="~/css/ResetPWStyle.css" />


<div class="row2">
    <div class="contenedor2">
        <h1 class="centrado">@ViewData["Title"]</h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            
            <div asp-validation-summary="ModelOnly" class="errorinicio"></div>

            <div class="form-group2">
                <div class="form-group">

                    <input asp-for="Email" class="form-control" placeholder="Email" />
                   
                </div>
                <div>
                    <span asp-validation-for="Email" class="text-warning"></span>
                </div>
            </div>
            
            <div class="form-group3">
                


                    <button type="submit" value="Recuperar Contraseña" class="btn btn-primary "><span>Recuperar Contraseña</span><span><i class="fas fa-user-plus"></i></span> </button>
                    <a asp-action="Login" class="btn btn-secondary"><span>Iniciar sesión</span><span><i class="fas fa-sign-in-alt"></i></span></a>

                
            </div>
            
        </form>
       
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}